.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  font-size: larger;
  font-weight: 300;
  
  
}

.featureSvg {
  height: 250px;
  width: 250px;
  padding-bottom: 30px;
  padding-top: 30px;
  
}
