/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

  .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    
    
  }

  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .container2 {
    background-image: url(https://img.freepik.com/vector-gratis/protector-pantalla-particulas-tecnologia-realista-abstracta_52683-33640.jpg?t=st=1733464154~exp=1733467754~hmac=46df4c7f1ffc425247d3a29b77b25d1ec189687dc2294a5ce1260bcc2f4a22f1&w=1380);
    background-size: cover;
    backdrop-filter: blur(10px);
    padding: 14rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: rgb(224, 217, 217);
    font-weight: 300;
  }
